.ui.segment.pagination-holder {
  max-width: 300px;
  margin: 14px auto 0;
  text-align: center;
}

.pagination-holder .ui.pagination.menu {
  background-color: #d52484;
  border: none;
  box-shadow: none;
}

.pagination-holder .ui.pagination.menu .item {
  color: #fff;
}

.pagination-holder .ui.pagination.menu .active.item {
  background-color: rgba(144, 0, 127, 0.55);
  color: #fff;
}
