.img-showcase.ui.modal {
  position: static;
}

.img-showcase.ui.modal > .image.content {
  justify-content: center;
}

.img-showcase .ui.attached.rail.internal {
  background-color: rgba(80, 80, 80, 0.2);
  opacity: 0.5;
  width: 20%;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  line-height: 3.5rem;
  transition: opacity 0.3s;
  cursor: pointer;
  height: calc(100% - 28px);
  top: 14px;
}

.img-showcase .ui.attached.rail.internal.left {
  left: 14px;
}

.img-showcase .ui.attached.rail.internal.right {
  right: 14px;
}

.img-showcase .ui.attached.rail i {
  text-shadow: 0 0 2px rgb(255, 255, 255, 0.8);
  transition: transform 0.2s;
}

.img-showcase .ui.attached.rail:hover {
  opacity: 1;
}

.img-showcase i.ui.attached.rail:hover i {
  transform: scale(1.2);
}

.img-showcase .closeIcon {
  position: absolute;
  top: 0;
  right: 0;
}

.img-showcase .closeIcon {
  position: absolute;
  margin: 0;
  top: -30px;
  left: 0px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  text-shadow: none !important;
}

@media screen and (max-width: 450px) {
  .ui.modals .img-showcase {
    width: 100%;
  }
  .ui.modal.img-showcase .content {
    padding: 0.5em !important;
  }
  .ui.modal.img-showcase .segment {
    padding: 0.5em !important;
  }
  .img-showcase .ui.attached.rail.internal {
    font-size: 2rem;
    line-height: 2rem;
    height: calc(100% - 14px);
    top: 7px;
  }
  .img-showcase .ui.attached.rail.internal.left {
    left: 7px;
  }
  .img-showcase .ui.attached.rail.internal.right {
    right: 7px;
  }
}

@media screen and (max-width: 767px) {
  .img-showcase .ui.attached.rail.internal {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  .img-showcase .ui.image {
    width: 100%;
  }
  .img-showcase .closeIcon {
    left: -30px;
  }
}
