#footer.ui.inverted.vertical.segment {
  text-align: center;
  padding: 15px 10px;
}

#footer .list {
  width: 100%;
  text-align: center;
}

#footer a.item {
  text-decoration-line: none;
  border-bottom: none;
}

#footer .ui.list > a.item {
  color: #fff;
  padding: 14px 20px !important;
  font-size: 17px !important;
  margin: 0;
  transition: opacity 0.2s;
}

#footer .ui.list > a.item:hover {
  opacity: 0.7;
}

#footer hr {
  border: none;
  background-color: #fff;
  height: 2px;
  width: 225px;
}

#footer p {
  padding: 10px 0;
  color: #fff;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  #footer .ui.list > a.item {
    padding: 14px 10px !important;
  }
}
